<div class="footer">
  <div class="footer-container">
    <div class="ofertas-email flex-b">
      <span class="roboto-regular-pequena"
        >Cadastre-se e receba pelo seu e-mail novidades e ofertas em primeira
        mão!</span
      >
      <form action="" class="form-ofertas-email flex-b">
        <input type="text" />
        <button>Enviar</button>
      </form>
    </div>
  </div>
  <div class="footer-background">
    <div class="footer-container-2 flex-b">
      <div class="footer-logo">
        <img src="../../../assets/logo-clara-alt.svg" alt="logo level up" />
      </div>
      <div class="contato-info">
        <ul>
          <li>
            <h2 class="poppins-bold-media">Email</h2>
            <span class="roboto-regular-pequena">contato&#64;gmail.com</span>
          </li>
          <li>
            <h2 class="poppins-bold-media">Endereço</h2>
            <span class="roboto-regular-pequena"
              >Avenida ABC - 123C - Rua 321</span
            >
          </li>
          <li>
            <h2 class="poppins-bold-media">Telefone</h2>
            <span class="roboto-regular-pequena">+55 55 55555-5555</span>
          </li>
        </ul>
      </div>
      <div class="paginas-nav">
        <ul>
          <li><a href="/" class="poppins-regular-media">Home</a></li>
          <li><a href="/" class="poppins-regular-media">Perfil</a></li>
          <li><a href="/" class="poppins-regular-media">Contato</a></li>
          <li><a href="/" class="poppins-regular-media">Sobre</a></li>
        </ul>
      </div>
      <div class="footer-redes-sociais flex-b">
        <h2 class="poppins-regular-media">Redes Sociais:</h2>
        <ul class="flex-b">
          <li>
            <a href="/"
              ><img
                src="../../../assets/img/svg/instagram.svg"
                alt="instagram logo"
                width="32px"
                height="32px"
            /></a>
          </li>
          <li>
            <a href="/"
              ><img
                src="../../../assets/img/svg/facebook.svg"
                alt="facebook logo"
                width="32px"
                height="32px"
            /></a>
          </li>
          <li>
            <a href="/"
              ><img
                src="../../../assets/img/svg/twitter.svg"
                alt="twitter logo"
                width="32px"
                height="32px"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
