<header class="app-header">
  <div class="header-1 poppins-regular-pequena">
    <div class="header-1-bg">
      <div class="header-container-1">
        <div class="header-1-container">
          <div class="flex-b info-header-1">
            <div class="phone-number">
              <span>+55 (11) 99999-9999</span>
            </div>
            <div>
              <span
                ><a href="./" class="flex-b"
                  >Rastreie seu pacote
                  <img
                    src="./assets/img/svg/truck.svg"
                    width="32"
                    height="32" /></a
              ></span>
            </div>
          </div>
          <div><span>Bem-vindo</span></div>
          <div class="dropdown">
            <button class="flex-b dropdown-toggle poppins-regular-pequena">
              PT-BR
              <img
                src="./assets/img/svg/arrow-down.svg"
                width="24"
                height="24"
              />
            </button>
            <ul class="dropdown-menu">
              <li>PT-BR</li>
              <li>EN</li>
              <li>JP</li>
              <li>RU</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-container-2">
    <div class="flex-b header-2">
      <div class="flex-b header-2-section-1">
        <div>
          <img src="./assets/logo-escura.svg" width="180" height="46" />
        </div>
        <div class="search-bar">
          <form action="">
            <input
              class="roboto-regular-pequena"
              type="text"
              placeholder="Pesquise"
            />
            <img
              class="icon"
              src="./assets/img/svg/lupa.svg"
              width="24"
              height="24"
            />
          </form>
        </div>

        <div class="tabs-header-2 flex-b poppins-regular-pequena">
          <div>
            <span class="selected"><a href="./">Home</a></span>
          </div>
          <div>
            <span><a href="./">Categoria</a></span>
          </div>
          <div>
            <span><a href="./">Contato</a></span>
          </div>
          <div>
            <span><a href="./">Sobre</a></span>
          </div>
        </div>
      </div>
      <div>
        <div class="header-2-section-2 flex-b roboto-regular-pequena">
          <div>
            <span><a href="./">Login</a></span>
          </div>
          <div>
            <a href=""
              ><img
                src="./assets/img/svg/cesta.svg"
                alt=""
                width="24"
                height="24"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
