<nav>
  <div class="carrossel-container">
    <swiper-container loop="true" css-mode="true" navigation="true">
      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-1">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/ps4-console.png"
              alt="Console Playstation 4"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Playstation 4 Fat - 1tb de armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 268,99</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 2.689,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$2.499,90</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >

      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-2">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/xbox-series-x-console.png"
              alt="Console Xbox Series X"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Microsoft Xbox Series X - 1tb armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 3.890</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 3.890,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$3.650,00</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >

      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-3">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/nintendo-switch-console.png"
              alt="Console Nintendo Switch Oled"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Nintendo Switch Oled - 250gb de armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 265,99</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 2.659,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$2.599,90</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >
      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-4">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/ps4-console.png"
              alt="Console Playstation 4"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Playstation 4 Fat - 1tb de armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 268,99</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 2.689,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$2.499,90</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >

      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-5">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/xbox-series-x-console.png"
              alt="Console Xbox Series X"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Microsoft Xbox Series X - 1tb armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 3.890</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 3.890,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$3.650,00</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >

      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-6">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/nintendo-switch-console.png"
              alt="Console Nintendo Switch Oled"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Nintendo Switch Oled - 250gb de armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 265,99</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 2.659,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$2.599,90</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >

      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-7">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/ps4-console.png"
              alt="Console Playstation 4"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Playstation 4 Fat - 1tb de armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 268,99</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 2.689,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$2.499,90</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >

      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-8">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/xbox-series-x-console.png"
              alt="Console Xbox Series X"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Microsoft Xbox Series X - 1tb armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 3.890</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 3.890,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$3.650,00</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >

      <swiper-slide class="carrossel-products-container flex-b">
        <div class="product product-9">
          <span class="add-cart roboto-regular-pequena"
            >Adicionar ao carrinho
            <img src="./assets/img/svg/adicionar-carrinho.svg" alt=""
          /></span>
          <div class="product-img">
            <img
              src="./assets/img/products/nintendo-switch-console.png"
              alt="Console Nintendo Switch Oled"
              width="200px"
              height="250px"
            />
          </div>
          <h2 class="produto-nome poppins-semibold-media">
            Nintendo Switch Oled - 250gb de armazenamento
          </h2>
          <span class="produto-preco-dividido roboto-regular-pequena"
            >Até 10x de R$ 265,99</span
          >
          <span class="produto-preco poppins-semibold-media">R$ 2.659,99</span>
          <span class="produto-desconto-pix roboto-regular-pequena"
            >Ou <strong>R$2.599,90</strong> no <strong>PIX</strong></span
          >
          <div>
            <button class="carrossel-product-button poppins-semibold-grande">
              Ver Produto
            </button>
          </div>
        </div></swiper-slide
      >
    </swiper-container>
  </div>
</nav>
