<app-header></app-header>
<main>
  <section class="main-section">
    <div class="container-main-section">
      <div class="main-section-background-characters">
        <img src="./assets/img/background-1.png" alt="" />
      </div>
      <div class="main-section-intro flex-b">
        <div class="personagens-img">
          <img src="./assets/img/game-characters.png" alt="" />
        </div>
        <div class="main-section-intro-text">
          <h1 class="poppins-bold-grande">
            Descubra as melhores opções e preços aqui 🔥🕹️
          </h1>
          <p class="roboto-regular-pequena">
            Na Level UP, você encontra as melhores opções de jogos, consoles e
            acessórios pelo melhor preço! Explore nosso catálogo e descubra uma
            variedade incrível de produtos para todos os tipos de jogadores.
            Desde os mais recentes lançamentos até os clássicos atemporais. Dê o
            próximo passo na sua jornada gamer conosco e aproveite as vantagens
            de uma experiência de compra simplificada e acessível. Venha para a
            Level UP e eleve o seu entretenimento a novos patamares!
          </p>
          <button class="poppins-bold-media">
            <a href="#items-main-section" class="flex-b">
              Explore as novidades
              <img
                src="./assets/img/svg/arrow-down-2.svg"
                width="24"
                height="24"
            /></a>
          </button>
        </div>
      </div>
      <div class="items-main-section" id="items-main-section">
        <div class="flex-b items-main-section-container">
          <div class="main-item main-item-1 opened">
            <img src="./assets/img/switch.png" alt="" />
            <div class="main-item-description item-description-1 flex-b">
              <span class="roboto-regular-pequena main-item-sales"
                >+1000 vendidos no último mês</span
              >
              <h1 class="poppins-bold-grande main-item-name">
                Nintendo Switch Oled
              </h1>
              <span class="poppins-regular-grande main-item-price"
                >R$ 2.659,99</span
              >
              <p class="roboto-regular-pequena">
                Com seu console Switch você terá entretenimento garantido todos
                os dias. Sua tecnologia foi criada para colocar novos desafios
                para jogadores novatos e especialistas. Switch tornou-se um dos
                consoles mais versáteis do mercado graças ao seu uso portátil e
                desktop. A Nintendo desenvolveu este modelo com o objetivo de
                ter todos os confortos da tecnologia de elite em um dispositivo
                portátil com o qual você pode jogar e desfrutar de diversos
                conteúdos online.
              </p>
              <button class="poppins-bold-media">
                <a href="">Ver Produto</a>
              </button>
            </div>
          </div>
          <div class="main-item main-item-2">
            <img src="./assets/img/playstation-vr.png" alt="" />
            <div class="main-item-description item-description-1 flex-b">
              <span class="roboto-regular-pequena main-item-sales"
                >+1000 vendidos no último mês</span
              >
              <h1 class="poppins-bold-grande main-item-name">
                Playstation VR 2
              </h1>
              <span class="poppins-regular-grande main-item-price"
                >R$ 4.499.90</span
              >
              <p class="roboto-regular-pequena">
                A inovadora tecnologia PlayStation VR2 Sense ajuda na emoção e
                na imersão por meio de vibrações sutis no headset, a tecnologia
                de áudio em 3D e rastreamento ocular inteligente, além da
                detecção de toque, resposta tátil e gatilhos adaptáveis do
                controle PS VR2 Sense.
              </p>
              <button class="poppins-bold-media">
                <a href="">Ver Produto</a>
              </button>
            </div>
          </div>
          <div class="main-item main-item-3">
            <img src="./assets/img/pc-gaming.png" alt="" />
            <div class="main-item-description item-description-1 flex-b">
              <span class="roboto-regular-pequena main-item-sales"
                >+1000 vendidos no último mês</span
              >
              <h1 class="poppins-bold-grande main-item-name">
                Pc Gamer Intel I5 10400f
              </h1>
              <span class="poppins-regular-grande main-item-price"
                >R$ 4.902,68</span
              >
              <p class="roboto-regular-pequena">
                Um PC Gamer é uma potente máquina projetada para fornecer uma
                experiência de jogo imersiva e de alta performance. Equipado com
                hardware de ponta, como processador de última geração, placa de
                vídeo dedicada, memória RAM de alta velocidade e armazenamento
                SSD, este computador é capaz de rodar os jogos mais exigentes
                com gráficos de alta resolução e taxas de quadros suaves.
              </p>
              <button class="poppins-bold-media">
                <a href="">Ver Produto</a>
              </button>
            </div>
          </div>
          <div class="main-item main-item-4">
            <img src="./assets/img/switch.png" alt="" />
            <div class="main-item-description item-description-1 flex-b">
              <span class="roboto-regular-pequena main-item-sales"
                >+1000 vendidos no último mês</span
              >
              <h1 class="poppins-bold-grande main-item-name">
                Nintendo Switch Oled
              </h1>
              <span class="poppins-regular-grande main-item-price"
                >R$ 2.659,99</span
              >
              <p class="roboto-regular-pequena">
                Com seu console Switch você terá entretenimento garantido todos
                os dias. Sua tecnologia foi criada para colocar novos desafios
                para jogadores novatos e especialistas. Switch tornou-se um dos
                consoles mais versáteis do mercado graças ao seu uso portátil e
                desktop. A Nintendo desenvolveu este modelo com o objetivo de
                ter todos os confortos da tecnologia de elite em um dispositivo
                portátil com o qual você pode jogar e desfrutar de diversos
                conteúdos online.
              </p>
              <button class="poppins-bold-media">
                <a href="">Ver Produto</a>
              </button>
            </div>
          </div>
          <div class="main-item main-item-5">
            <img src="./assets/img/playstation-vr.png" alt="" />
            <div class="main-item-description item-description-1 flex-b">
              <span class="roboto-regular-pequena main-item-sales"
                >+1000 vendidos no último mês</span
              >
              <h1 class="poppins-bold-grande main-item-name">
                Playstation VR 2
              </h1>
              <span class="poppins-regular-grande main-item-price"
                >R$ 4.499.90</span
              >
              <p class="roboto-regular-pequena">
                A inovadora tecnologia PlayStation VR2 Sense ajuda na emoção e
                na imersão por meio de vibrações sutis no headset, a tecnologia
                de áudio em 3D e rastreamento ocular inteligente, além da
                detecção de toque, resposta tátil e gatilhos adaptáveis do
                controle PS VR2 Sense.
              </p>
              <button class="poppins-bold-media">
                <a href="">Ver Produto</a>
              </button>
            </div>
          </div>
          <div class="main-item main-item-6">
            <img src="./assets/img/pc-gaming.png" alt="" />
            <div class="main-item-description item-description-1 flex-b">
              <span class="roboto-regular-pequena main-item-sales"
                >+1000 vendidos no último mês</span
              >
              <h1 class="poppins-bold-grande main-item-name">
                Pc Gamer Intel I5 10400f
              </h1>
              <span class="poppins-regular-grande main-item-price"
                >R$ 4.902,68</span
              >
              <p class="roboto-regular-pequena">
                Um PC Gamer é uma potente máquina projetada para fornecer uma
                experiência de jogo imersiva e de alta performance. Equipado com
                hardware de ponta, como processador de última geração, placa de
                vídeo dedicada, memória RAM de alta velocidade e armazenamento
                SSD, este computador é capaz de rodar os jogos mais exigentes
                com gráficos de alta resolução e taxas de quadros suaves.
              </p>
              <button class="poppins-bold-media">
                <a href="">Ver Produto</a>
              </button>
            </div>
          </div>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="destaques-container">
      <div class="destaques-background">
        <div class="destaques">
          <h1 class="poppins-bold-grande">Destaques</h1>
          <span class="flex-b background-azul-texto roboto-regular-media"
            >Os produtos mais procurados e vendidos:</span
          >
          <span></span>
          <app-carrossel-produtos></app-carrossel-produtos>
        </div>
      </div>
    </div>
  </section>

  <section id="sobre">
    <div class="sobre-background">
      <div class="sobre-container flex-b">
        <div class="sobre-conteudo">
          <h1 class="poppins-bold-grande flex-b">
            <img
              src="../../../assets/favicon.svg"
              alt=""
              width="80px"
              height="80px"
            />Conhecendo a Level Up: Mais do que uma Loja de Jogos
          </h1>
          <p class="roboto-regular-pequena">
            A Level Up é mais do que uma simples loja de jogos. Somos uma
            comunidade apaixonada, impulsionada pela busca de proporcionar
            experiências excepcionais no universo dos jogos eletrônicos. Desde
            nossa fundação há 10 anos, nossa missão tem sido conectar jogadores,
            oferecer produtos de qualidade e promover uma cultura de diversão e
            amizade. Nosso compromisso com a excelência nos impulsiona a
            selecionar os melhores títulos, desde os clássicos até os
            lançamentos mais recentes. Acreditamos que os jogos têm o poder de
            unir pessoas e criar laços, e é isso que buscamos facilitar em nossa
            plataforma. Ao escolher a Level Up, você não está apenas adquirindo
            um jogo, mas se tornando parte de uma comunidade vibrante e
            engajada. Nossa proposta vai além do comércio; é sobre compartilhar
            experiências, descobrir novos horizontes e celebrar a paixão pelos
            jogos.
          </p>
          <ul class="redes-sociais flex-b">
            <li>
              <a href=""
                ><img
                  src="./assets/img/svg/instagram.svg"
                  alt="instagram logo"
                  width="40"
                  height="40"
              /></a>
            </li>

            <li>
              <a href=""
                ><img
                  src="./assets/img/svg/facebook.svg"
                  alt="facebook logo"
                  width="40"
                  height="40"
              /></a>
            </li>

            <li>
              <a href=""
                ><img
                  src="./assets/img/svg/twitter.svg"
                  alt="twitter logo"
                  width="40"
                  height="40"
              /></a>
            </li>
          </ul>
        </div>
        <div class="garoto-jogando">
          <img
            src="../../../assets/img/background-2.png"
            alt="garoto jogando em um compoutador"
          />
        </div>
      </div>

      <section id="mais-produtos">
        <div class="mais-produtos-container">
          <div class="mais-produtos flex-b">
            <div class="mais-produtos-conteudo flex-b">
              <h1 class="poppins-bold-grande">Mais Produtos</h1>
              <span class="background-azul-texto flex-b roboto-regular-pequena"
                >Veja outros produtos em alta:</span
              >
            </div>
          </div>
        </div>
        <app-carrossel-produtos></app-carrossel-produtos>
      </section>
    </div>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</main>
